@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --color-primary: #ff5a5f;
  --color-secondary: #f7941d;
  --color-tertiary: #f4f4f4;
  --color-quaternary: #2b2b2b;
  --color-quinary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--color-quaternary);
}
.navigation {
  position: fixed;
  inset: 20px 0 20px 20px;
  width: 75px;
  background: var(--color-tertiary);
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 23px;
}
.menu-toggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--color-quaternary);
  transform: translateY(-8px);
  transition: 0.5s;
}
.open .menu-toggle::before {
  transform: translateY(0px) rotate(45deg);
}
.menu-toggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--color-quaternary);
  transform: translateY(8px);
  transition: 0.5s;
  box-shadow: 0 -8px 0 var(--color-quaternary);
}
.open .menu-toggle::after {
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 0 var(--color-quaternary);
}
.open {
  width: 250px;
}
.menu-itens {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.menu-item {
  width: 100%;
  height: 55px;
  padding: 0 10px;
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.icon {
  display: block;
  min-width: 55px;
  height: 55px;
  transition: 0.5s;
  color: var(--color-quaternary);
  position: relative;
  border-radius: 10px;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  filter: blur(8px);
  opacity: 0;
  transition: 0.5s;
}
.menu-item .active {
  color: var(--color-tertiary);
  background: var(--clr);
}
.menu-item .active::before {
  opacity: 0.5;
}
.text {
  display: block;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: unset;
  font-size: 1.4em;
  padding: 0 15px;
  color: var(--color-quaternary);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.open .text {
  opacity: 1;
  visibility: visible;
}
